<!DOCTYPE html>
<head>
  <title>{{title}}</title>
</head>
<body>
<div flxFlex fxLayout="column" fxLayoutGap="50px" style="height:100vh">
  <div>
    <h2>Raad het nummer !</h2>
      
      <div>
          <p>Raad het computer gegenereerd nummer tussen 1 and 100.
          Je hebt 10 gokken en 5 minuten om dit te doen.
          </p>
      </div>
  <div fxLayout="row wrap">   
     <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
       <label>Jou gok:
       <input [(ngModel)]="gok" [disabled]="spelGewonnen||spelVerloren" type="number"/>
       </label>
       <div flxFlex fxLayout="column1" fxLayoutGap="10px" style="height:10vh">
       <button fxFlex="50" fxFlex.lt-md="100" fxLayout="column1" mat-raised-button color="warn" (click)="controleGok()">Controler</button>
       <button fxFlex="50" fxFlex.lt-md="100" fxLayout="column1" mat-stroked-button color="primary" (click)="restartSpel()">Nieuw spel</button>
      </div>
     </div>
     <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      <p>gok : {{gok}}</p>
      <div [hidden]="!(spelGewonnen||spelVerloren)">Te gokken : {{teGokkenGetal}}</div>
     </div>
  </div>
    <div>
       <p *ngIf="afwijking<0" >Je gokte te hoog.</p>
       <p *ngIf="afwijking>0" >Je gokte te laag.</p>
       <p *ngIf="afwijking===0" >Je hebt het spel gewonnen!</p>
    </div>
    <p>Aantal gokken :
      <span>{{aantalGokken}}</span>
    </p>
    <p> Je hebt nog <time>{{minC}}</time> minuten en <time>{{secC}}</time> seconden.</p>
    <p>
      <mat-progress-bar
          class="afteller"
          color="warn"
          mode="determinate"
          value="waarde">
      </mat-progress-bar>
    </p>
</div>
</div>

</body>